name: Build

run-name: ${{ github.actor }} is testing out build of go-playground

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5
      - name: Build container
        run: |
          docker compose up --build
